<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919259837784-s04i4k7gqskel7lhgb9b5j88k2qqq4fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919259837784-s04i4k7gqskel7lhgb9b5j88k2qqq4fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCi8k_e4Fqm0RIE0wH-FWcz7Jl1yxCuu0U</string>
	<key>GCM_SENDER_ID</key>
	<string>919259837784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mnzChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d2a46</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d2a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919259837784:ios:4156030b4bb9932586a12d</string>
</dict>
</plist>